<div class="container-fluid">
    <div class="row footer">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-5 about-me">
                <h3>Meet Simon</h3>
                <p>Developer by night and asleep by day.</p>
                <p>an image as well</p>
                <p
                >some body copy oasdfasdfa
                some body copy oasdfasdfa
                some body copy oasdfasdfa
                some body copy oasdfasdfa.
                some body copy oasdfasdfa
                some body copy oasdfasdfa.
                some body copy oasdfasdfa</p>
                <img src="{{ pic.get_thumbnail }}" class="img-responsive" width="300px"/>

                <p>Need to get in touch? Fill out the accompanying form and I'll get back to you as soon as possible.</p>
            </div>

            <div class="col-md-5 col-md-offset-2 contact-form">
                <h3>Get in touch!</h3>
            {% include "contact.html" %}
            </div>
        </div>
    </div>
</div>